<table class="table table-striped">
	<thead>
	<tr>
		<th>Type</th>
		<th>Protection</th>
		<th>Costs</th>
	</tr>
	</thead>
	<tbody>
	{% for r in data %}
		<tr>
			<td>{{ r.name }}</td>
			<td>{{ r.armor }}</td>
			<td>{{ r.costs|e }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>