<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Children of Orion</title>

    {#<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>#}
    <script src="js/jquery.min.js"></script>
    {#<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}

    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    {#<script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>#}
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>

    <link href="css/bootstrap-spinedit.css" rel="stylesheet">
    <script type="text/javascript" src="js/bootstrap-spinedit.js"></script>

    <style>

    </style>
</head>

<body>

{% block content %}lorem ipsum{% endblock %}

</body>
</html>
